
.pg {
  
  display: block;
  width: 600px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px auto auto -100px;
  /*overflow: hidden;*/
  /*border: 1px solid #222;*/
}

.anim {
  /* opacity: 0; */
  animation: fadein 1s ease-in 1s;
}


@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
